/* General Stylings */

*,
*:before,
*:after {
    box-sizing: border-box
}
html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    
}

body {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4 {
    font-family: "Lato", sans-serif;
}



/***********************LichtBlick***************************************/

.logo {
    margin: 20px;
}


.menu2 {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 5px;
    margin: 10px;
}




/*********************Das neue Normal:*****************************************/

.img1 {
    width: 100vw;
    
}

.background-image1 {
    background-color: whitesmoke;
    padding-bottom: 20rem;
    margin-bottom: 10rem;
    
}



/**********************Wollt ihr mit Strom heizen?*****************************/

.background-image2 {
    background-color: pink;
    padding-bottom: 20rem;

}


/***********************Gute Ideen für ein besseres Klima**********************/






/***********************LichtBlick***************************************/

.background2 {
    background-color: rgb(134, 141, 122);
    height: 26rem;
}






/***************************footer***********************************/

footer {
    background-color: black;
    height: 10rem;
}
a {
    color: white;
}

blockquote {
    color: gainsboro;
    text-align: center;
    padding-top: 30px;
}

nav {
    text-align: center;
    margin-top: 75px;
    padding-top: 50px;
}